@model Plant_A_Plant.Web.ViewModels.Contacts.ContactViewModel
@{
    ViewData["Title"] = "Contact";
}

<!--//meta tags ends here-->
<!--booststrap-->
<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<!--//booststrap end-->
<!-- font-awesome icons -->
<link href="~/css/font-awesome.min.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!--stylesheets-->
<link href="~/css/style.css" rel="stylesheet" type="text/css" media="all">
<!--//stylesheets-->
<!-- Web-Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900&amp;subset=arabic" rel="stylesheet">
<!-- //Web-Fonts -->
<div class="header-outs inner_page-banner" id="home">
    <section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3 bg-light separate-bd">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Contact Us</h3>
            <div class="row">
                <!--//contact-map -->
                <div class="address_mail_footer_grids col-lg-6 col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3539.812628729253!2d153.014155!3d-27.4750921!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a0835840a2f%3A0xdd5e3f5c208dc0e1!2sMelbourne+St%2C+South+Brisbane+QLD+4101%2C+Australia!5e0!3m2!1sen!2sin!4v1492257477691"></iframe>
                </div>
                <!--contact-map -->
                <div class="col-lg-6 col-md-6 contact-form-txt">
                    <form asp-controller="Home" asp-action="Contact" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="w3pvt-wls-contact-mid">
                            <div class="form-group contact-forms">
                                <input asp-for="@Model.FullName" type="text" class="form-control" placeholder="Full Name">
                                <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                            </div>
                            <div class="form-group contact-forms">
                                <input asp-for="@Model.SenderEmail" type="text" class="form-control" placeholder="Email">
                                <span asp-validation-for="@Model.SenderEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group contact-forms">
                                <input asp-for="@Model.SenderPhoneNumber" type="text" class="form-control" placeholder="Phone">
                                <span asp-validation-for="@Model.SenderPhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group contact-forms">
                                <textarea asp-for="@Model.Message" type="text" class="form-control" rows="3" placeholder="Message"></textarea>
                                <span asp-validation-for="@Model.Message" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn sent-butnn">Send</button>
                        </div>
                    </form>
                    <div class="row mt-lg-5 mt-md-4 mt-3">
                        <div class="contact-list-grid col-lg-6 col-md-6 col-sm-6">
                            <h4>Branch 1</h4>
                            <p class="pt-2">Melbourne St,South Birbane 4101</p>
                            <p>Austraila</p>
                        </div>
                        <div class="contact-list-grid col-lg-6 col-md-6 col-sm-6">
                            <h4>Branch 2</h4>
                            <p class="pt-2">Melbourne St,South Birbane 4101</p>
                            <p>Austraila</p>
                        </div>
                    </div>
                    <div class="row mt-lg-4 mt-3">
                        <div class="contact-list-grid col-lg-6 col-md-6 col-sm-6">
                            <h4>Phone</h4>
                            <p class="pt-2">(000)1122333</p>
                            <p>+(000) 123 4565 32</p>
                        </div>
                        <div class="contact-list-grid col-lg-6 col-md-6 col-sm-6">
                            <h4>Email</h4>
                            <p class="pt-2">
                                <a href="mailto:info@example.com">info@example1.com</a>
                            </p>
                            <p class="pt-2">
                                <a href="mailto:info@example.com">info@example.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/lib/jquery/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}